---
import Jsonld from "@/components/layout/Jsonld.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const cannonicaURL = new URL(Astro.site ?? "");

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const imageUrl = new URL("/favicon.svg", Astro.site ?? "");
---

<meta http-equiv="refresh" content="0;url=/km/" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>DSDP Cambodia</title>
<meta name="description" content={t("about.whatIsDsdp.description")} />
<meta
  name="keywords"
  content="DSDP, Cambodia, Digital, Service, Platform, Government, Public Service, Digital Transformation, សេវាឌីជីថល, កម្ពុជា, រដ្ឋាភិបាល"
/>
<meta name="author" content="DSDP Cambodia" />
<meta
  name="robots"
  content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
/>
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="canonical" href={cannonicaURL} />
<link rel="sitemap" href="/sitemap-0.xml" />

<meta property="og:type" content="website" />
<meta property="og:locale" content="km" />
<meta property="og:site_name" content="DSDP Cambodia" />
<meta property="og:title" content="DSDP Cambodia" />
<meta property="og:description" content={t("about.whatIsDsdp.description")} />
<meta property="og:url" content={cannonicaURL} />
<meta property="og:image" content={imageUrl} />
<meta property="og:image:alt" content="DSDP Cambodia" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="DSDP Cambodia" />
<meta name="twitter:description" content={t("about.whatIsDsdp.description")} />
<meta name="twitter:image" content={imageUrl} />
<meta name="twitter:site" content="@dsdp_cambodia" />
<meta name="twitter:creator" content="@dsdp_cambodia" />

<Jsonld
  title="DSDP Cambodia"
  description={t("about.whatIsDsdp.description")}
  siteUrl={cannonicaURL}
  canonicalUrl={cannonicaURL}
  defaultSiteProjectName="DSDP Cambodia"
  image={imageUrl}
  type="WebPage"
  author={{ name: "@DSDP_Cambodia", url: cannonicaURL }}
/>
