---
import { LinkButton } from "@/components/ui/link-button";

import documentsImg from "/public/how_to_apply/documents.gif";
import processingImg from "/public/how_to_apply/processing.gif";
import verifiedImg from "/public/how_to_apply/verified.gif";
import background_style from "@/assets/about/about-us/backgorund-style.svg";
import background_svg_blob from "@/assets/about/about-us/background-svg-blob.svg";
import { languages } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/layout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { SquareUser } from "lucide-react";

export const getStaticPaths = (() => {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
const t = useTranslations(lang);
const applyLabel = t("nav.applytitle");
---

<Layout
  title="How-To-Apply"
  description="The Digital Skill Development Program (D.S.D.P.) is a financial aid initiative (not a scholarship) aimed at providing interest-free study financing to high school graduates (Grade 12) who wish to pursue a bachelor’s degree in digital-related fields but have not received a full 100% scholarship from other educational institutions."
  author="DSDP Cambodia"
>
  <section class="w-screen">
    <div class="container my-12">
      <div class="absolute w-full h-full">
        <Image
          src={background_style}
          alt="top background"
          class="absolute top-[-5%] right-[83%] w-full max-w-full h-auto select-none hidden md:block opacity-50"
          width={1000}
          height={1000}
        />
        <Image
          src={background_svg_blob}
          alt="bottom background"
          class="absolute bottom-[-150%] left-[50%] w-full max-w-full h-auto rotate-[270deg] -scale-x-[1] select-none hidden md:block opacity-50"
          width={1000}
          height={1000}
        />
      </div>
      <section class="">
        <div
          class="container text-center mx-auto gap-8 grid py-10 leading-snug"
        >
          <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-primary">
            {t("HowToApply.title_1")}
          </h1>
          <p class="flex gap-3 text-lg space-x-4 text-center">
            {t("HowToApply.description_1")}
          </p>
        </div>
      </section>
      <section class="my-16">
        <div
          class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-12 items-start"
        >
          <div
            class="container text-start mx-auto px-4 grid gap-8 order-2 md:order-1"
          >
            <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold text-primary">
              {t("HowToApply.title_2")}
            </h1>
            <p>
              {t("HowToApply.description_2")}
              <ul class="list-disc pl-8 space-y-3 cursor-pointer my-3">
                <li>{t("HowToApply.description.point_1")}</li>
                <li>{t("HowToApply.description.point_2")}</li>
                <li>{t("HowToApply.description.point_3")}</li>
              </ul>
            </p>
            <div
              class="flex flex-col justify-between items-center h-full order-1 md:order-2"
            >
              <img src={processingImg.src} alt="Service" class="w-full" />
            </div>
          </div>
        </div>
        <section class="my-16">
          <div
            class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-12 items-start"
          >
            <div
              class="flex flex-col justify-between items-center h-full order-1 md:order-1"
            >
              <img
                src={documentsImg.src}
                alt="Service"
                class="flex flex-col justify-between items-center h-full"
              />
            </div>
            <div
              class="container text-start mx-auto px-4 grid gap-8 order-2 md:order-2"
            >
              <h1
                class="text-2xl md:text-3xl lg:text-4xl font-bold text-primary"
              >
                {t("HowToApply.title_3")}
              </h1>
              <p>
                {t("HowToApply.description_3")}
                <ul class="list-disc pl-8 space-y-3 cursor-pointer my-3">
                  <li>{t("HowToApply.description.point_4")}</li>
                  <li>{t("HowToApply.description.point_5")}</li>
                  <li>{t("HowToApply.description.point_6")}</li>
                  <li>{t("HowToApply.description.point_7")}</li>
                  <li>{t("HowToApply.description.point_8")}</li>
                </ul>
              </p>
            </div>
          </div>
        </section>
        <section class="my-16">
          <div
            class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-12 items-start"
          >
            <div
              class="container text-start mx-auto px-4 grid gap-4 order-2 md:order-1"
            >
              <h1
                class="text-2xl md:text-3xl lg:text-4xl font-bold text-primary"
              >
                {t("HowToApply.title_4")}
              </h1>
              <p>
                <ul>
                  <li>{t("HowToApply.description_4")}</li>
                  <li>{t("HowToApply.description_5")}</li>
                  <li>{t("HowToApply.description_6")}</li>
                  <li>{t("HowToApply.description_7")}</li>
                </ul>
              </p>
              <div class="mt-6">
                <LinkButton
                  target="_blank"
                  rel="noopener noreferrer"
                  variant="secondary"
                  size={"lg"}
                  className="w-40 h-11 rounded-full bg-secondary text-white text-sm font-medium text-center flex justify-center hover:bg-secondary/90 z-10"
                  href="https://go.gov.kh/mptc/dsdp-registration"
                >
                  <SquareUser className="size-5" />
                  {applyLabel}
                </LinkButton>
              </div>
            </div>
            <div
              class="flex flex-col justify-between items-center h-full order-1 md:order-2"
            >
              <img
                src={verifiedImg.src}
                alt="Service"
                class="flex flex-col justify-between items-center h-full"
              />
            </div>
          </div>
        </section>
      </section>
    </div>
  </section>
</Layout>
