---
import "@/styles/global.css";

import { getLocalizedRoutes, navigation } from "@/lib/route";

import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Jsonld from "@/components/layout/Jsonld.astro";

import { defaultLang, ui } from "@/i18n/ui";
import { getLangFromUrl } from "@/i18n/utils";

interface Props {
  title: string;
  description?: string;
  img?: string;
  author: string;
}
const lang = getLangFromUrl(Astro.url);
const translations = ui[lang];
const locale = Astro.currentLocale ?? defaultLang;
const navigationItems = getLocalizedRoutes(navigation, locale);
const currentPath = Astro.url.pathname;

const siteUrl = Astro.site;
const cannonicaURL = Astro.request.url;

const {
  title,
  description = "DSDP Cambodia - Digital Service Delivery Platform",
  img = "/dsdp-logo-final.svg",
  author,
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/dsdp-logo-final.svg" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta
      name="keywords"
      content="DSDP, Cambodia, Digital, Service, Platform, Government, Public Service, Digital Transformation, សេវាឌីជីថល, កម្ពុជា, រដ្ឋាភិបាល"
    />
    <meta name="author" content="DSDP Cambodia" />
    <meta
      name="robots"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <link rel="canonical" href={Astro.url.href} />

    <meta property="og:locale" content={lang} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="DSDP Cambodia" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:image" content={img} />
    <meta property="og:image:alt" content={title} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {img && <meta name="twitter:image" content={img} />}
    <meta name="twitter:site" content="@dsdp_cambodia" />
    <meta name="twitter:creator" content="@dsdp_cambodia" />

    <!-- Json LD -->
    <Jsonld
      title={title}
      description={description}
      siteUrl={siteUrl}
      canonicalUrl={cannonicaURL}
      defaultSiteProjectName="DSDP Cambodia"
      image={img}
      type={"BlogPosting"}
      author={{
        name: author,
        url: "https://dsdp.gov.kh",
      }}
    />
  </head>
  <body>
    <Header
      translations={translations}
      lang={lang}
      navigationItems={navigationItems}
      currentPath={currentPath}
    />
    <main>
      <slot />
    </main>
    <Footer translations={translations} lang={lang} />
  </body>
</html>
