---
import "@/styles/global.css";

import { getLocalizedRoutes, navigation } from "@/lib/route";

import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header";

import { defaultLang, ui } from "@/i18n/ui";
import { getLangFromUrl } from "@/i18n/utils";

interface Props {
  title: string;
  description?: string;
  img?: string;
}
const lang = getLangFromUrl(Astro.url);
const translations = ui[lang];
const { title } = Astro.props;
const locale = Astro.currentLocale ?? defaultLang;
const navigationItems = getLocalizedRoutes(navigation, locale);
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <Header
      translations={translations}
      lang={lang}
      navigationItems={navigationItems}
      currentPath={currentPath}
      client:load
    />
    <main>
      <slot />
    </main>
    <Footer translations={translations} lang={lang} />
  </body>
</html>
